<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
          <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <meta name="description" content="Online multiplayer game of Chinese Checkers">
      <meta name="author" content="Maciej Kabała and Paweł Narolski">
      <link rel="icon" href="../../favicon.ico">

      <title>About - Chinese Checkers</title>

          <!-- Bootstrap core CSS -->
      <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap.css")">

          <!-- Custom styles for this template -->
      <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/jumbotron-narrow.css")">
    <![endif]-->
  </head>

  <body>
    <nav class="navbar navbar-inverse bg-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Chinese Checkers</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="../../../../Downloads/bootstrap-3.3.7/docs/examples/jumbotron-narrow">About the project <span class="sr-only">(current)</span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <br />
      <div class="page-header">
          <h1>About Chinese Checkers</h1>
          <p>A short introduction to our project.</p>
      </div>
      <div>
        <div class="row marketing">
              <div class="16">
                  <h3>A web app written in Java using Play and Akka Frameworks</h3>
                  <p>
                    Chinese Checkers is a project written by Maciej Kabała and Paweł Narolski for the Coding Technologies (Technologie Programowania) course by Jakub Lemiesz, PhD at Wrocław University of Science and Technology.
                  </p>
                  <p>
                    We've tried to take a step further from what was required at the course and we've decided to write the project using technologies which were new to us at the start of the project: Play and Akka.
                  </p>
                  <p>
                    Ultimately we're proud to say that we've managed to accomplish our task and we've had a lot of fun working on this project. It is very stable thanks to a solid Akka framework, and the flexibility of Play proved to be very beneficial late in the coding process.
                  </p>
              </div>
          </div>
      </div>
      <footer class="footer">
        <p>&copy; 2017 Maciej Kabała and Paweł Narolski.</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../../../Downloads/bootstrap-3.3.7/docs/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
